<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpu.xinqing.mapper.HistoryTestMapper">
    <select id="selectTopStudentsByTestCount" resultType="com.hpu.xinqingpojo.VO.DataVo">
        SELECT
            u.user_name AS name,
            COUNT(ht.id) AS value
        FROM history_test ht
                 JOIN user u ON ht.user_id = u.id
        WHERE u.role_id = 3
        GROUP BY ht.user_id
        ORDER BY value DESC
        LIMIT 5
    </select>
</mapper>
