<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpu.xinqing.mapper.TempAlertLogsMapper">

    <resultMap id="BaseResultMap" type="com.hpu.xinqingpojo.entity.TempAlertLogs">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="emotionRecordId" column="emotion_record_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="triggerTime" column="trigger_time" jdbcType="TIMESTAMP"/>
            <result property="alertLevel" column="alert_level" jdbcType="TINYINT"/>
            <result property="handlingStatus" column="handling_status" jdbcType="TINYINT"/>
            <result property="handlerId" column="handler_id" jdbcType="INTEGER"/>
            <result property="handleWay" column="handle_way" jdbcType="TINYINT"/>
            <result property="isResolve" column="is_resolve" jdbcType="TINYINT"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,emotion_record_id,user_id,
        trigger_time,alert_level,handling_status,
        handler_id,handle_way,is_resolve,
        note
    </sql>
</mapper>
